@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Header & general properties*/
#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

}
#box {
    display: column;
    flex-direction: row;
    /*justify-content: start; */
    /*align-items: center; */
    background-color: rgb(255, 255, 255, 0);
    width: 80%;
    height: 600px;
    margin-top: -20px;
    flex-shrink: 0;

}

h1 {
    font-family: Roboto;
}

div {
    font-family: Roboto;
}

#header {
    display: inline-block;
    text-align: center;
    width: 100%;
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87dd 5%, #6c7c7cb1 100%);
	background-color:rgba(118, 141, 135, 0);
	border-radius:5px;
	border:1px solid #566963;
    color: transparent;
    background: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
    margin-bottom: 20px;
}


/* Button area*/
#buttonbox {
    display:flex;
    flex-direction: column;
    /*justify-content: start;
    align-items: start; */
    margin-top: 6%;
    height: 100px;
    width: 20%;
    flex-shrink: 0;
    min-width: 20%
}

button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Roboto;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    flex-shrink: 0;
}
button:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
button:active {
	position:relative;
	top:1px;
}
#copypaste {
    display: inline-block;
    text-align: center;
    background-color: black;
    width: 100%;
    opacity: 0;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	color:#777777;
	font-family:Roboto;
}

#copypasteValue {
    margin-top: 2px;
    color: #3f3f3f;
}
#copypasteHexValue {
    margin-top: 2px;
    color: #3f3f3f;
}
#copypasteHex {
    display: inline-block;
    text-align: center;
    background-color: black;
    width: 100%;
    opacity: 0;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	color:#777777;
	font-family:Roboto;
}


/*Palette area*/
.palette {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 50%;
    background-color: black;
    height: 300px;
    width: 300px;
    margin: 20px 20px 20px 20px;
	border:5px solid #31313182;
}

#upper-box {
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: center;
    flex-shrink: 0;
}

#lower-box {
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: center;
    flex-shrink: 0;
}


body {
    background-color: #DFDBE5;
background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}